.navigation {
  text-decoration: none;

  &__navList {
    display: flex;
    flex-wrap: wrap;

    &__login {
      color: white;
      text-transform: uppercase;
    }
    &__searchingBar {
      color: white;
    }
  }
}
